asgiref==3.8.1
Django
djangorestframework
sqlparse
tzdata
numpy==1.22
drf-yasg
setuptools
orjson
celery
redis
scipy
openai
scikit-learn
python-decouple
dtaidistance
djangorestframework-simplejwt
Pillow
django-cors-headers
dj-database-url
psycopg2-binary
librosa
soundfile
pydub
